<a href="https://colab.research.google.com/github/RojaCM/DEEP-LEARNING-/blob/main/BOW%20%26%20TFIDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

In [6]:
#sentences
document=['I LIKE DETECTIVE RUDRA SERIES.',
          'RUDRA IS NOT A DETECTIVE,HE IS A TRUTH SEEKER']

In [7]:
document

['I LIKE DETECTIVE RUDRA SERIES.',
 'RUDRA IS NOT A DETECTIVE,HE IS A TRUTH SEEKER']

In [8]:
vectorizer=CountVectorizer()

In [9]:
#get all unique words from document
x=vectorizer.fit_transform(document)

In [10]:
vectorizer.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['detective', 'he', 'is', 'like', 'not', 'rudra', 'seeker', 'series', 'truth']

In [11]:
x.toarray()

array([[1, 0, 0, 1, 0, 1, 0, 1, 0],
       [1, 1, 2, 0, 1, 1, 1, 0, 1]])

below code is to reperesnt the BOW in a tabular form

In [12]:
bow=CountVectorizer()

In [13]:
bow.fit_transform(document).todense()

matrix([[1, 0, 0, 1, 0, 1, 0, 1, 0],
        [1, 1, 2, 0, 1, 1, 1, 0, 1]])

In [14]:
import pandas as pd
bowdf=pd.DataFrame(bow.fit_transform(document).todense())
bowdf.columns=sorted(bow.vocabulary_)
bowdf.head()

   detective  he  is  like  not  rudra  seeker  series  truth
0          1   0   0     1    0      1       0       1      0
1          1   1   2     0    1      1       1       0      1

In [15]:
bowdf.head()

   detective  he  is  like  not  rudra  seeker  series  truth
0          1   0   0     1    0      1       0       1      0
1          1   1   2     0    1      1       1       0      1

In [16]:
#ngrams
from nltk import ngrams

In [17]:
vectorizer2=CountVectorizer(analyzer='word',ngram_range=(2,2))

In [18]:
x2=vectorizer2.fit_transform(document)

In [19]:
vectorizer2.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['detective he',
 'detective rudra',
 'he is',
 'is not',
 'is truth',
 'like detective',
 'not detective',
 'rudra is',
 'rudra series',
 'truth seeker']

In [20]:
list(ngrams('the cute little girl is playing with kitten'.split(),3))

[('the', 'cute', 'little'),
 ('cute', 'little', 'girl'),
 ('little', 'girl', 'is'),
 ('girl', 'is', 'playing'),
 ('is', 'playing', 'with'),
 ('playing', 'with', 'kitten')]

TF-IDF

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [23]:
corpus = [

'Data Science is an overlap between Arts and Science',

'Generally, Arts graduates are right-brained and Science graduates are left-brained',

'Excelling in both Arts and Science at a time becomes difficult',

'Natural Language Processing is a part of Data Science'

]
corpus

['Data Science is an overlap between Arts and Science',
 'Generally, Arts graduates are right-brained and Science graduates are left-brained',
 'Excelling in both Arts and Science at a time becomes difficult',
 'Natural Language Processing is a part of Data Science']

In [24]:
tfidf=TfidfVectorizer()

In [25]:
tfidf.fit_transform(corpus).todense()

matrix([[0.40332811, 0.25743911, 0.        , 0.25743911, 0.        ,
         0.        , 0.40332811, 0.        , 0.        , 0.31798852,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.31798852, 0.        , 0.        , 0.        , 0.        ,
         0.40332811, 0.        , 0.        , 0.        , 0.42094668,
         0.        ],
        [0.        , 0.159139  , 0.49864399, 0.159139  , 0.        ,
         0.        , 0.        , 0.        , 0.49864399, 0.        ,
         0.        , 0.        , 0.24932199, 0.49864399, 0.        ,
         0.        , 0.        , 0.24932199, 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.24932199, 0.13010656,
         0.        ],
        [0.        , 0.22444946, 0.        , 0.22444946, 0.35164346,
         0.35164346, 0.        , 0.35164346, 0.        , 0.        ,
         0.35164346, 0.35164346, 0.        , 0.        , 0.35164346,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.18350214,
         0.35164346],
        [0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.30887228,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.30887228, 0.39176533, 0.        , 0.39176533, 0.39176533,
         0.        , 0.39176533, 0.39176533, 0.        , 0.2044394 ,
         0.        ]])

In [26]:
df=pd.DataFrame(tfidf.fit_transform(corpus).todense())

In [28]:
df.columns=sorted(tfidf.vocabulary_)

In [29]:
df.head()

,an,and,are,arts,at,becomes,between,both,brained,data,...,language,left,natural,of,overlap,part,processing,right,science,time
0,0.403328,0.257439,0.000000,0.257439,0.000000,0.000000,0.403328,0.000000,0.000000,0.317989,...,0.000000,0.000000,0.000000,0.000000,0.403328,0.000000,0.000000,0.000000,0.420947,0.000000
1,0.000000,0.159139,0.498644,0.159139,0.000000,0.000000,0.000000,0.000000,0.498644,0.000000,...,0.000000,0.249322,0.000000,0.000000,0.000000,0.000000,0.000000,0.249322,0.130107,0.000000
2,0.000000,0.224449,0.000000,0.224449,0.351643,0.351643,0.000000,0.351643,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.183502,0.351643
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.308872,...,0.391765,0.000000,0.391765,0.391765,0.000000,0.391765,0.391765,0.000000,0.204439,0.000000